# Project exclude paths
/Redis-ssw.iml
/target/
/.idea/

/jedis_redisdemo/target/
/jedis_redisdemo/jedis_redisdemo.iml

/redis_springboot/target/
/redis_springboot/redis_springboot.iml

/Seckill/target/
/Seckill/Seckill.iml
